<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784907664813-tuofnee137cifnibm57jqjn2r4kijqfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784907664813-tuofnee137cifnibm57jqjn2r4kijqfr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784907664813-4iui3pqapn05a1eoa0ds71feo3llffts.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAo0lyRA2gdq5Fv3BTse5-O9eqOZZgMcvA</string>
	<key>GCM_SENDER_ID</key>
	<string>784907664813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yacab.yacabadmin</string>
	<key>PROJECT_ID</key>
	<string>ya-cab</string>
	<key>STORAGE_BUCKET</key>
	<string>ya-cab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784907664813:ios:6723b06d909cf92aa47524</string>
	<key>DATABASE_URL</key>
	<string>https://ya-cab-default-rtdb.firebaseio.com</string>
</dict>
</plist>